<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Level: <%= @user.level if @user.level %></p>
<p>Amount Spent: <%= @user.total_amount_spent if @user.amount_spent %></p>
